/**
 * FOOTER
 */
.root {
  background-color: #1fe7a8;
}

.list {
  composes: block from "./grid.css";
  list-style: none;
  padding: 20px 0;
}
@media (min-width: 660px) {
  .list {
    text-align: right;
  }
}
