/**
 * HEADER
 */
.block {
  background-color: rgba(255, 255, 255, 0.93);
  bottom: auto;
  box-sizing: border-box;
  height: 68px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.blockInner {
  padding: 10px 0;
}

.root {
  align-items: center;
  color: #1fe7a8;
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 15px 0;
  transition: background-color 500ms;
  z-index: 1000;
}
@media (min-width: 860px) {
  .root {
    padding: 0;
  }
}

.header {
  flex-basis: 100%;
  margin: 0;
}

.title {
  color: #1fe7a8;
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin: 0;
  text-transform: uppercase;
  transition: color 500ms;
}
@media (min-width: 0px) and (max-width: 659px) {
  .title {
    font-weight: bold;
  }
}
@media (min-width: 660px) {
  .title {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }
}

.hamburger {
  display: inline-block;
  flex: 1 1 auto;
  height: 20px;
  margin-bottom: -4px;
  width: 40px;
}
@media (min-width: 660px) {
  .hamburger {
    display: none;
  }
}

.patty {
  background-color: #1fe7a8;
  display: block;
  height: 4px;
  width: 100%;
  transform: translateY(9px);
  transition: background-color 500ms;
}
@media (min-width: 660px) {
  .patty {
    transform: translateY(18px);
  }
}

.patty::before, .patty::after {
  background-color: #1fe7a8;
  display: block;
  height: 4px;
  width: 100%;
  content: '';
  transform-origin: 50% 0;
  transition: all 500ms;
}

.patty::before {
  transform: translate3d(0, -8px, 0);
}
@media (min-width: 660px) {
  .patty::before {
    transform: translate3d(0, -12px, 0);
  }
}

.patty::after {
  transform: translate3d(0, 4px, 0);
}
@media (min-width: 660px) {
  .patty::after {
    transform: translate3d(0, 8px, 0);
  }
}

.hamburger:hover .patty::before {
  transform: translate3d(0, -12px, 0);
}
@media (min-width: 660px) {
  .hamburger:hover .patty::before {
    transform: translate3d(0, -16px, 0);
  }
}

.hamburger:hover .patty::after {
  transform: translate3d(0, 8px, 0);
}
@media (min-width: 660px) {
  .hamburger:hover .patty::after {
    transform: translate3d(0, 12px, 0);
  }
}

.mainNav {
  flex: 1 1 auto;
  margin-top: -10px; /* top padding on .block */
}
@media (min-width: 660px) {
  .root .mainNav { /* .rrot added to give selector more specifilocation */
    display: block;
  }
}


@media (max-width: 860px) {
  .root.expanded {
    background-color: rgba(31, 231, 168, 0.93);
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2%;
    padding-right: 2%;
  }

  .root.expanded .header {
    transform: translate3d(0px, 0px, 0px) !important;
  }

  .root.expanded .title {
    color: white;
  }

  .root.expanded .patty {
    background-color: transparent;
  }

  .root.expanded .patty::before,
  .root.expanded .patty::after {
    background-color: white;
  }

  .root.expanded .patty::before {
    transform: rotate(45deg) translate3d(0, 0, 0);
  }

  .root.expanded .patty::after {
    transform: rotate(-45deg) translate3d(0, -4px, 0);
  }
}
