/**
 * HEADER
 */
/* line 339, ../../src/sass/ben.scss */
.header {
  background-color: rgba(255, 255, 255, 0.93);
  color: #1fe7a8;
  bottom: auto;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  -moz-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  z-index: 1000;
}
/* line 347, ../../src/sass/ben.scss */
.header .block {
  padding-bottom: 15px;
  padding-top: 15px;
}
@media (min-width: 860px) {
  /* line 353, ../../src/sass/ben.scss */
  .header .block {
    padding-bottom: 0;
    padding-top: 0;
  }
}
/* line 359, ../../src/sass/ben.scss */
.header header {
  margin: 0;
}
@media (min-width: 860px) {
  /* line 359, ../../src/sass/ben.scss */
  .header header {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
/* line 367, ../../src/sass/ben.scss */
.header header h1 {
  background: no-repeat url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAA7BAMAAABrgaykAAAAFVBMVEUe6KczMzPq6+v///8e6KczMzPq6+s/jG0ZAAAABHRSTlMAAAAAs5NmmgAAAERJREFUKM9jcAECB2ZjY2MDBuozGQUFBQUYwADCTAOChFAgCAAzk2jAVAIBRbBtIIEgBDNQGOyyUSYpTEFE8EHCl0ZMAG9inANy5BT2AAAAAElFTkSuQmCC') center left;
  background-size: contain;
  color: #1fe7a8;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 29px;
  line-height: 1.8rem;
  line-height: 20px;
  line-height: 1.25rem;
  margin: 0;
  padding-left: 15px;
  text-transform: uppercase;
  -moz-transition: color 500ms;
  -o-transition: color 500ms;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}
@media (min-width: 0px) and (max-width: 659px) {
  /* line 367, ../../src/sass/ben.scss */
  .header header h1 {
    font-weight: bold;
  }
}
@media (min-width: 660px) {
  /* line 367, ../../src/sass/ben.scss */
  .header header h1 {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 58px;
    line-height: 3.6rem;
    line-height: 28px;
    line-height: 1.75rem;
  }
}
/* line 454, ../../src/sass/ben.scss */
.header .hamburger {
  display: inline-block;
  height: 20px;
  margin-bottom: -4px;
  width: 40px;
}
@media (min-width: 660px) {
  /* line 454, ../../src/sass/ben.scss */
  .header .hamburger {
    height: 40px;
  }
}
@media (min-width: 860px) {
  /* line 454, ../../src/sass/ben.scss */
  .header .hamburger {
    display: none;
  }
}
/* line 468, ../../src/sass/ben.scss */
.header .hamburger .patty {
  background-color: #1fe7a8;
  display: block;
  height: 4px;
  width: 100%;
  -moz-transform: translateY(9px);
  -ms-transform: translateY(9px);
  -webkit-transform: translateY(9px);
  transform: translateY(9px);
  -moz-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}
@media (min-width: 660px) {
  /* line 468, ../../src/sass/ben.scss */
  .header .hamburger .patty {
    -moz-transform: translateY(18px);
    -ms-transform: translateY(18px);
    -webkit-transform: translateY(18px);
    transform: translateY(18px);
  }
}
/* line 477, ../../src/sass/ben.scss */
.header .hamburger .patty::before, .header .hamburger .patty::after {
  background-color: #1fe7a8;
  display: block;
  height: 4px;
  width: 100%;
  content: "";
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
/* line 484, ../../src/sass/ben.scss */
.header .hamburger .patty::before {
  -moz-transform: translate3d(0, -8px, 0);
  -ms-transform: translate3d(0, -8px, 0);
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
}
@media (min-width: 660px) {
  /* line 484, ../../src/sass/ben.scss */
  .header .hamburger .patty::before {
    -moz-transform: translate3d(0, -12px, 0);
    -ms-transform: translate3d(0, -12px, 0);
    -webkit-transform: translate3d(0, -12px, 0);
    transform: translate3d(0, -12px, 0);
  }
}
/* line 492, ../../src/sass/ben.scss */
.header .hamburger .patty::after {
  -moz-transform: translate3d(0, 4px, 0);
  -ms-transform: translate3d(0, 4px, 0);
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
}
@media (min-width: 660px) {
  /* line 492, ../../src/sass/ben.scss */
  .header .hamburger .patty::after {
    -moz-transform: translate3d(0, 8px, 0);
    -ms-transform: translate3d(0, 8px, 0);
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
  }
}
/* line 505, ../../src/sass/ben.scss */
.header .hamburger:hover .patty::before {
  -moz-transform: translate3d(0, -12px, 0);
  -ms-transform: translate3d(0, -12px, 0);
  -webkit-transform: translate3d(0, -12px, 0);
  transform: translate3d(0, -12px, 0);
}
@media (min-width: 660px) {
  /* line 505, ../../src/sass/ben.scss */
  .header .hamburger:hover .patty::before {
    -moz-transform: translate3d(0, -16px, 0);
    -ms-transform: translate3d(0, -16px, 0);
    -webkit-transform: translate3d(0, -16px, 0);
    transform: translate3d(0, -16px, 0);
  }
}
/* line 513, ../../src/sass/ben.scss */
.header .hamburger:hover .patty::after {
  -moz-transform: translate3d(0, 8px, 0);
  -ms-transform: translate3d(0, 8px, 0);
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}
@media (min-width: 660px) {
  /* line 513, ../../src/sass/ben.scss */
  .header .hamburger:hover .patty::after {
    -moz-transform: translate3d(0, 12px, 0);
    -ms-transform: translate3d(0, 12px, 0);
    -webkit-transform: translate3d(0, 12px, 0);
    transform: translate3d(0, 12px, 0);
  }
}
@media (max-width: 860px) {
  /* line 525, ../../src/sass/ben.scss */
  .header.expanded {
    background-color: rgba(31, 231, 168, 0.93);
    height: 100%;
  }
  /* line 529, ../../src/sass/ben.scss */
  .header.expanded .block {
    margin-left: 0;
    margin-right: 0;
    padding-left: 2%;
    padding-right: 2%;
  }
  /* line 536, ../../src/sass/ben.scss */
  .header.expanded header {
    transform: translate3d(0px, 0px, 0px) !important;
  }
  /* line 540, ../../src/sass/ben.scss */
  .header.expanded h1 {
    color: white;
  }
  /* line 551, ../../src/sass/ben.scss */
  .header.expanded .hamburger .patty {
    background-color: transparent;
  }
  /* line 554, ../../src/sass/ben.scss */
  .header.expanded .hamburger .patty::before, .header.expanded .hamburger .patty::after {
    background-color: white;
  }
  /* line 558, ../../src/sass/ben.scss */
  .header.expanded .hamburger .patty::before {
    -moz-transform: rotate(45deg) translate3d(0, 0, 0);
    -ms-transform: rotate(45deg) translate3d(0, 0, 0);
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    transform: rotate(45deg) translate3d(0, 0, 0);
  }
  /* line 562, ../../src/sass/ben.scss */
  .header.expanded .hamburger .patty::after {
    -moz-transform: rotate(-45deg) translate3d(0, -4px, 0);
    -ms-transform: rotate(-45deg) translate3d(0, -4px, 0);
    -webkit-transform: rotate(-45deg) translate3d(0, -4px, 0);
    transform: rotate(-45deg) translate3d(0, -4px, 0);
  }
}
