.largeColumn6Width {
  width: 48.57143%;
}

.largeColumnFloat {
  float: left;
}

.largeColumn6MarginRight {
  margin-right: 2.85714%;
}

@media (min-width: 860px) {
  .largeColumnFloat {
    float: right;
  }

  .largeColumn6MarginRight {
    margin-right: 0;
  }
}

@media (min-width: 860px) {
  .hiddenFromLarge {
    display: none;
  }
}

.nav {
  composes: largeColumn6Width largeColumnFloat largeColumn6MarginRight;
  display: none;
  clear: both;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  font-size: 1.2rem;
  line-height: 29px;
  line-height: 1.8rem;
  margin-bottom: 10px;
  text-transform: lowercase;
}
@media (min-width: 0px) and (max-width: 659px) {
  .nav {
    font-weight: bold;
  }
}
@media (min-width: 860px) {
  .nav {
    clear: none;
    display: inline-block;
    float: right;
    height: 100%;
    text-align: right;
  }
}

.list {
  margin: 0;
  padding-left: 0;
}
@media (min-width: 860px) {
  .list {
    display: inline-block;
  }
}

.item {
  border-bottom: 1px solid white;
}
.item:first-child {
  border-top: 1px solid white;
}
@media (min-width: 860px) {
  .item {
    composes: hiddenFromLarge;
    display: inline-block;
  }
}

@media (max-width: 860px) {
  .expanded .nav {
    display: block;
    padding-top: 25px;
  }
}
