/* line 389, ../../src/sass/ben.scss */
.header nav {
  display: none;
  clear: both;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  font-size: 1.2rem;
  line-height: 29px;
  line-height: 1.8rem;
  margin-bottom: 10px;
  text-transform: lowercase;
}
@media (min-width: 0px) and (max-width: 659px) {
  /* line 389, ../../src/sass/ben.scss */
  .header nav {
    font-weight: bold;
  }
}
@media (min-width: 860px) {
  /* line 389, ../../src/sass/ben.scss */
  .header nav {
    clear: none;
    display: inline-block;
    float: right;
    height: 100%;
    text-align: right;
  }
}
/* line 409, ../../src/sass/ben.scss */
.header nav ul {
  margin: 0;
  padding-left: 0;
}
@media (min-width: 860px) {
  /* line 409, ../../src/sass/ben.scss */
  .header nav ul {
    display: inline-block;
  }
}
/* line 418, ../../src/sass/ben.scss */
.header nav li {
  border-bottom: 1px solid white;
}
/* line 421, ../../src/sass/ben.scss */
.header nav li:first-child {
  border-top: 1px solid white;
}
@media (min-width: 860px) {
  /* line 418, ../../src/sass/ben.scss */
  .header nav li {
    display: inline-block;
  }
}
@media (min-width: 860px) {
  /* line 429, ../../src/sass/ben.scss */
  .header nav li.lg-hidden {
    display: none;
  }
}

@media (max-width: 860px) {
  /* line 544, ../../src/sass/ben.scss */
  .header.expanded nav {
    display: block;
    padding-top: 25px;
  }
}
