.root {
  clear: both;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-transform: lowercase;
}
@media (min-width: 0px) and (max-width: 659px) {
  .root {
    font-weight: bold;
  }
}
@media (min-width: 860px) {
  .root {

  }
}

.list {
  display: flex;
  flex-flow: column;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
@media (min-width: 860px) {
  .list {
    flex-flow: row;
  }
}

.item {
  border-bottom: 1px solid white;
  margin-left: 5px;
  white-space: nowrap;
}
.item:first-child {
  border-top: 1px solid white;
}
@media (min-width: 860px) {
  .item {
    border: 0;
    flex: 1 1 auto;
  }
  .item:first-child {
    border-top: 0;
  }
}
