{
  "presets": [
    "flow",
    "react",
  ],

  "plugins": [
    ["transform-async-to-generator"],
    ["transform-class-properties", {}],
    ["transform-object-rest-spread"],
    ["transform-strict-mode", { "strict": true }],
  ],

  "env": {
    "test": {
      "presets": [
        "flow",
        "react",
      ],
      "plugins": ["istanbul"]
    },
  }
}
