{
  "presets": [
    "flow",
    "react",
  ],

  "plugins": [
    ["transform-strict-mode", { "strict": true }],
    ["transform-class-properties", {}],
  ],

  "env": {
    "test": {
      "presets": ["flow"],
      "plugins": ["istanbul"]
    },
  }
}
