{
  "lines": 50,
  "statements": 50,
  "functions": 50,
  "branches": 50,
  "include": [
    "app/**"
  ],
  "exclude": [
    "app/index.js"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "require": [
  ],
  "extension": [
    ".js",
    ".jsx"
  ],
  "cache": true,
  "all": true,
  "report-dir": "reports/coverage"
}
