/* variables */
@import 'vars';

/* site files */
@import 'mixins';

$green: rgba(0,136,102, 1) !default;
$green-gray: rgba(0,238,204, 1) !default;
$lightgreen: rgba(8, 159, 78, 1) !default;
$brightgreen: rgba(7, 149, 33, 1) !default;
$darkgreen: rgba(0, 59, 45, 1) !default;
$blue: rgba(7, 107, 149, 1) !default;
$gray: rgba(8, 154, 159, 1) !default;
$tan: rgba(21, 212, 165, 1) !default;


$white: rgba(255, 255, 255, 1);
$green: rgba(31, 231, 168, 1);
$lightgrey: rgba(232, 232, 232, 1);
$midgrey: rgba(119, 119, 119, 1);
$darkgrey: rgba(51, 51, 51, 1);


/**
 * ELEMENTS
 */
html, body {
  margin: 0;
  padding: 0;
  font-family: $body-font;
  font-weight: 300;
}

h1 {
  font-family: $headline-font;
  font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $headline-font;
  font-style: normal;
  font-weight: 700;
}

p {
  margin: 1rem 0;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding-left: 20px;
}

input, textarea, keygen, select, button {
  font-family: $body-font;
  font-weight: 300;
}
